



/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉|ALL HTML FILES|▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/whiteWaves.png");
    clear: both;
}

.▉▊heading {

    height: 80px;
    background-color: #ffffff;
    width: 100%;

}

header {

    width: 960px;
    margin: auto;
    background-color: #ffffff;
    height: 100%;

}

#▉▊myName {

    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 100%;
    width: 33.33%;
    text-align: center;

}

#▉▊links {

    float: right;
    height: 100%;
    width: 33.33%;
    text-align: center;
    margin-top: 30px;

}

#▉▊indexlink {

    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
}

#▉▊portlink {

    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    border: 100px;

}

#▉▊contlink {

    width: 33.33%;
    height: 100%;
    float: left;

}

.▉▊content {

    background-color: #ffffff;
    margin: auto;
    width: 960px;
    clear: both;
    margin-top: 40px;



}

#▉▊footing {

}

footer {
    text-align: center
}

/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉|INDEX.HTML|▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/

#▉▊myFace {
    height: 380px;
    width: 300px;
}

#▉▊para1 {

}

#▉▊para2 {

}

#▉▊para3 {

}











/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉PORTFOLIO.HTML▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/
















/*▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉CONTACT.HTML▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉▊▉*/



















